{% block work_component %}
<footer id="footer">
    <ul class="icons">
        <li>
            <a href="mailto:devdracon@gmail.com" class="icon far fa-envelope"
                ><span class="label">Email</span></a
            >
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/adam-nagy-62390216b/"
                class="icon brands fa-linkedin-in"
                ><span class="label">LinkedIn</span></a
            >
        </li>
        <li>
            <a
                href="https://github.com/DraconDev"
                class="icon brands fa-github"
                style="padding-left: 0px"
                ><span class="label">Github</span></a
            >
        </li>
    </ul>
</footer>
{% endblock %}
