{% block header_component %}
<header id="header">
    <nav class="headerList">
        <ul class="headerLinks">
            <li class="listName navItems" style="margin-left: 25px">
                <a href="#intro">{{name}}</a>
            </li>
            <li class="navItems">
                <a class="navLinks" href="#work">Projects</a>
            </li>
            <li class="navItems">
                <a class="navLinks" href="#skills">Skills</a>
            </li>
            <li class="navItems">
                <a class="navLinks" href="mailto:{{email}}">Contact</a>
            </li>
        </ul>
    </nav>
</header>
{% endblock %}
