{% block header_component %}
<header id="header">
    <nav class="headerList">
        <div>
            <ul class="headerLinkRow">
                <li class="listName navItems">
                    <a href="#intro">{{name}}</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="headerLinkRow">
                <li class="navItems">
                    <a class="navLinks" href="#work">Projects</a>
                </li>
                <li class="navItems">
                    <a class="navLinks" href="#skills">Skills</a>
                </li>
                <li class="navItems">
                    <a class="navLinks" href="mailto:{{email}}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}
