{% block skills_component %}
<!-- Skills -->
<section id="skills" class="main style3 primary">
    <div class="content">
        <header>
            <h2 style="font-size: 5rem">Skills</h2>
        </header>
        <div class="skillList">
            {%for category, technologies in skills.items()%}
            <div class="skill-column">
                <p class="skill-title">{{category}}</p>
                {%for tech in technologies%}
                <p class="skill-item">{{tech}}</p>
                {%endfor%}
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{% endblock %}
